<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ experiment.exp_name}} Graph View </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <p><a href="{% url 'browse:detail' experiment.id%}"> Back to Details </a></p>
        <h1> {{ experiment.exp_name}} Graph View  </h1>
        <!-- volcano form -->
        <form volcano-url="{% url 'browse:ajax_load_volcano' experiment.id%}"
              id="volcano-form"
              data-groups-url="{% url 'browse:ajax_load_groups' experiment.id%}">
              <p> Select Gene Column </p>
              <table id="volcano-gene">
                  {{ form_gene.as_table }}
              </table>
              <p> Volcano Plot Group Selections </p>
              <table id="volcano-group">
                  {{ form_group.as_table }}
              </table>
              <p><input type="submit" value="volcano"></p>
        </form>
        <!-- pca form -->
        <p> PCA Plot Group Selections </p>
        <form pca-url="{% url 'browse:ajax_load_pca' experiment.id %}"
              id='pca-form'>
              <input id='gene-copy' type='hidden' name='gene_col'/>
              <table id="pca-group">
                  {{ form_pca.as_table }}
              </table>
              <p><input type="submit" value="pca"></p>
        </form>
        <!-- plots -->
        <div id="volcano-plot"></div>
        <div id="pca-plot"></div>
        {% load static %}
        <script src="{% static 'browse/graph.js'%}"></script>
    </body>
</html>
