<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Index </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <p> Test page for filtering </p>
        <form action="{% url 'newfeatures:ajax_filter_experiments'%}"
              id="filter-form">
        <table id="filter-cols">
        {{ form.as_table }}
        </table>
        </form>
        <div id=filtered-data></div>
        {% load static %}
        <script src="{% static 'newfeatures/index.js'%}"></script>
    </body>
</html>
